.cart__inner{
    width:100%;
    margin:50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.cart__table {
    margin:0 auto;
}


.cart__item{
    padding: 7px 10px;
    font-size: 15px;
    text-align: center;
}

.p__name{
    text-align: left;
    margin-left: 10px;
    text-decoration: underline;
    color:rgb(25, 73, 218);
}
.cart__ava {
    height: 75px;
    width: 75px;
    padding: 0;
}

.ava__img{
    margin: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart__table-line{
    border-bottom: 1px solid #a5a5a5;
    padding: 10px;
}

.total__block{
    width: 90%;
    margin-top: 40px;
    display: flex;
    justify-content:space-between;  
    
}

.total__info{
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
}

.cart__edit{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.input__wrapper{
    color: #fff;
    background-color: rgb(25, 73, 218);
    border:1px solid rgb(25, 73, 218);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.input__wrapper:hover,
.input__wrapper:active{
    color:rgb(25, 73, 218);
    background-color: #fff;
    border-radius: 1px solid #fff;
    transition: 0.3s;
}

.coll__input{
    width: 85px;
    border-bottom: 1px solid rgb(25, 73, 218);
    text-align: center;
}

.clear__cart{
    color:rgb(25, 73, 218);
    text-decoration: underline;
}

.no_bag{
    font-size: 35px;
    text-align: center;
    color: #a5a5a5;
}

.send__order-block{
    margin-top: 50px;
    display:flex;
    width:100%;
    justify-content: center;
}

.send__oder {
    color: #fff;
    background: rgb(25, 73, 218);
    border: 1px solid rgb(25, 73, 218);
    font-size: 18px;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.send__oder:hover,
.send__oder:active{
    color:rgb(25, 73, 218);
    background-color: #fff;
    transition: 0.3s;
}

.dop__block{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    gap:30px;
}

.load__select{
    display:flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
}

.delivery__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap:20px;
}

.dop__label{
    margin-top: 40px;
}

.dop__select{
    font-size: 17px;
    letter-spacing: 3px;
    width: 400px;
    padding: 10px 20px;
    border: 1px solid rgb(25, 73, 218);
    
}
.select__value{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
    padding: 10px;
}

.radio__block{
    display: flex;
    gap:20px;
}

.option__name{
    font-size: 17px;
}   





@media(max-width:1000px){
    .cart__inner{
        width:300%;
    }
}

