.cart__inner{
    width:100%;
    margin:50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.cart__table {
    margin:0 auto;
}


.cart__item{
    padding: 7px 10px;
    font-size: 15px;
    text-align: center;
}

.p__name{
    text-align: left;
    text-decoration: underline;
    color:rgb(25, 73, 218);
}
.cart__ava {
    height: 75px;
    width: 75px;
    padding: 0;
}

.ava__img{
    margin: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart__table-line{
    border-bottom: 1px solid #a5a5a5;
    padding: 10px;
}

.total__block{
    width: 90%;
    margin-top: 40px;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.total__info{
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
    border:1px solid rgb(25, 73, 218);
    padding: 10px 30px;
}
.total__clear{
    padding: 10px 30px;
}
.clear__cart{
    margin: 0 15px;
}

.cart__edit{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.input__wrapper{
    color: #fff;
    background-color: rgb(25, 73, 218);
    border:1px solid rgb(25, 73, 218);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.input__wrapper:hover,
.input__wrapper:active{
    color:rgb(25, 73, 218);
    background-color: #fff;
    border-radius: 1px solid #fff;
    transition: 0.3s;
}

.coll__input{
    width: 85px;
    border-bottom: 1px solid rgb(25, 73, 218);
    text-align: center;
}

.clear__cart{
    font-size: 17px;
    color:rgb(25, 73, 218);
    text-decoration: underline;
}

.clear__cart:hover{
    color: rgb(179, 0, 63);
}

.no_bag{
    font-size: 35px;
    text-align: center;
    color: #a5a5a5;
}

.send__order-block{
    margin-top: 50px;
    display:flex;
    width:100%;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}

.send__oder, 
#send__deliver,
#send__order {
    color: #fff;
    background: rgb(25, 73, 218);
    border: 1px solid rgb(25, 73, 218);
    font-size: 16px;
    padding: 8px 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

.send__oder:hover,
.send__oder:active,
#send__deliver:hover,
#send__deliver:active,
#send__order:hover,
#send__order:active{
    color:rgb(25, 73, 218);
    background-color: #fff;
    transition: 0.3s;
}

.dop__block{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    gap:30px;
}

.load__select{
    display:flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.delivery__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    gap:20px;
}

.dop__label{
    margin-top: 25px;
    width: 370px;
    text-align: center;
}

.dop__select{
    font-size: 17px;
    letter-spacing: 3px;
    width: 400px;
    padding: 10px 20px;
    border: 1px solid rgb(25, 73, 218);
    
}
.select__value{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
    padding: 10px;
}

.radio__block{
    display: flex;
    gap:20px;
}

.option__name{
    font-size: 17px;
}   
.delivery__table{
    max-width: 500px;
}
.table__title{
    font-size: 16px;
    color:rgb(25, 73, 218);
    font-weight: 600;
}

.table__title-top{
    font-size: 15px;
    color: #a5a5a5;
}



.delivery__list{
    width:400px;
    margin: 0 auto;
    text-align: right;
}

.li__item{
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    display:grid;
    grid-template-columns: 11fr 5fr;
    border-bottom: #a5a5a5 1px solid;
}
.li__item-value{
    font-weight: 700;
}

.ul__delivery-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #a5a5a5;
}

.delivery__top{
    font-size: 16px;
    color: rgb(25, 73, 218);
    font-weight: 600;
}


.send__order-block--delivery{
    margin-top: 0;
}

.loaders__inner{
    margin-top: 0;
    margin-bottom: 0;
}


.form__inner{
    width: 650px;
    padding: 30px;
    margin: 20px auto;
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:#d4e8f1 2px dotted;
}

.form__item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__input-title{
    font-size: 16px;
    color: #414146;
}

.input__title-span{
    display: inline;
    color:rgb(25, 73, 218);
}

.form__input{
    border: 1px solid rgb(25, 73, 218);
    width: 400px;
    padding: 10px;
    text-align: center;
}

.form__submit{
    margin-top: 10px;
    padding: 10px 20px;
    color: rgb(25, 73, 218);
    border: 1px solid rgb(25, 73, 218);
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.form__submit:hover, 
.form__submit:active{
    background: rgb(25, 73, 218);
    color: #fff;
    transition: 0.3s;
}

.form__top-title{
    width:650px;
    margin:20px auto;
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
}
.prices__list{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.row__title{
    display: none;
}
.total__block {
    width: 100%;
    margin-top: 35px;
    gap: 0;
}


@media(max-width:1250px){
    

    .total__info {
        gap: 26px;
        font-size: 15px;
        padding: 10px 14px;
    }

    
    

}

@media(max-width:1100px){
    .cart__table-line--head,
    .cart__items-head{
        display: none;
    }



    .block__content{
        width: 100%;
    }

    .cart__table-line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .cart__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap:5px;
    }
    
    .cart__ava{
        border: none;
       grid-row:span 2;
       width:120px;
       height: 170px;
    }

    .cart__form{
        grid-column: span 2;
    }

    .row__title{
        font-size: 13px;
        display: block;
        color: #afafaf;
    }
    .row__title-change, .cart__edit{
        justify-self: end;
        align-self: center;
    }


    .loaders__table-line{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}




@media(max-width:1000px){
    .total__block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }


    .loaders__inner{
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .form__inner,
    .form__top-title{
        width: 500px;
    }
        
    
}

@media(max-width:630px){

    .cart__table-line {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .loaders__inner{
        width: 100%;
    }
    
    
    .loaders__table-line{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .table__loaders-line{
        padding: 5px 6px;
        font-size: 14px;
    }

    .loaders__item-total{
        min-width: 40%;
        font-size: 15px;
    }
    .cart__form {
        grid-column: span 4;
    }

    .clear__cart{
        display: block;
        margin-bottom: 10px;
    }

    .dop__select {
        font-size: 16px;
        letter-spacing: 2px;
        width: 350px;
        padding: 8px 10px;
    }

    /* .delivery__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    } */

    .form__inner {
        width: 400px;
        font-size: 15px;
    }

    .form__top-title{
        width: 300px;
    }
    input__title-span{
        font-size: 16px;
    }
    .form__input{
        width: 350px;
    }

    .prices__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .order__form-title{
        font-size: 17px;
        margin-bottom: 40px;
    }
    .form__inner{
        margin-top: 40px;
        border: none;
        padding: 10px;
        width: 90%;
    }
    .form__input {
        width:320px;
    }
}

@media(max-width:485px){

    .order__form-title {
        font-size: 15px;
    }
    .cart__table-line {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .loaders__table-line{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .table__loaders-title, 
    .table__loaders-top {
        font-size: 14px;
    }
    .table__loaders-line{
        padding: 5px 3px;
    }
    .loaders__item-total{
        min-width: 40%;
        font-size: 15px;
    }
    .loaders__line-total{
        grid-template-columns: 1fr 1fr;
    }
    .cart__ava {
        grid-row: 1/span 3;
        grid-column: 2 / span 3;
        width: 190px;
        height: 210px;
    }

    .total__info{
        flex-wrap: wrap;
        justify-content: center;
        gap:10px;
    }

    .dop__select {
        font-size: 15px;
        width: 320px;
    }

    .form__top-title{
        width: 250px;
    }


    .form__inner{
        width: 330px;
    }

    .form__input{
        width: 300px;
    }
    .delivery__list {
        width: 350px;
    }

    .delivery__item{
        font-size: 13px;
    }
    .li__item-name{
        font-size: 11px;
    }
    .li__item {
        display: grid;
        grid-template-columns: 4fr 2fr;
    }
}


@media(max-width:400px){
    .delivery__list {
        width: 280px;
    }

    .form__inner {
        width: 300px;
    }

    .form__input-title {
        font-size: 13px;
    }

    
    .form__input {
        width: 250px;
        font-size: 11px;
    }

    .form__submit{
        font-size: 11px;
    }
    .form__top-title{
        width: 95%;
        font-size: 14px;
    }
}