.head__slider{
    z-index: 1;
}

.carousel-item {
  position: relative;
}

.slide__title-inner {
  width:45%;
  height: 350px;
  position: absolute;
  top: 5%;
  right:5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}


  

.slide__title{
  font-family: 'PT Serif', serif;
  display: block;
  user-select: none;    
  color:#082022;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
  background-color: rgba(233, 253, 250, 0.5); /* Непрозрачный цвет фона (черный в данном случае) */
  backdrop-filter: blur(6px); /* Размытие фона */
  border: 3px solid  #082022;
}

.head__slider .carousel-inner {
    height: 400px;
    width: 100%;
  }
  
  .head__slider .carousel-inner .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position:bottom;
  }
  
  .head__slider .carousel-control-prev,
  .head__slider .carousel-control-next {
    height: 400px;
  }


  @media(max-width:1120px){
    
    .slide__title{
      font-size: 40px;
    }
  }


@media(max-width:1058px){
  .slide__title-inner{
    width: 50%;
  }
  .slide__title{
    font-size: 38px;
  }
}

@media(max-width:910px){

  .slide__title{
    font-size: 35px;
  }
}

@media(max-width:856px) {
  .slide__title{
    font-size: 32px;
  }
}


@media(max-width:795px) {
  .slide__title{

    font-size: 29px;
  }
}

@media(max-width:720px) {
  .slide__title{

    font-size: 26px;
  }

}


@media(max-width:650px) {
    .slide__title{
  
      font-size: 20px;
    }

    .slide__title{
      border: 2px solid  #082022;
    }
    .slide__title-inner{
      width: 60%;
    }
}

@media(max-width:600px) {
  .slide__title{

    font-size: 20px;
  }
  .slide__title-inner{
    width: 65%;
  }
}

@media(max-width:450px) {
  .slide__title{

    font-size: 18px;
  }
  .slide__title-inner{
    width: 70%;
  }
}

@media(max-width:386px) {
  .slide__title{

    font-size: 16px;
  }

}

@media(max-width:350px) {
  .slide__title{

    font-size: 15px;
  }
  .slide__title-inner{
    width: 75%;
  }
}