.orders__inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.order__item{
    padding: 20px 40px;
    width: 100%;
    border: 2px dotted #d4e8f1;
}

.order__info-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin: 50px auto;
}
.order__date, .full__price-order{
    min-width: 300px;
    text-align: left;
    color: #5e5e61;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 21px;
}

.order__title-span{
    font-weight:700px;
    color:rgb(25, 73, 218);
    font-size: 24px;
}

.order__option-title{
    margin-top: 20px;
}

.order__body{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option__title{
    margin:30px 10px 10px;
    color:rgb(25, 73, 218);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
}

.order__option{
    position: relative;
    width: 100%;
}

.order__table{
    width:100%;
}

.table__item{
    padding: 10px 15px;
    border: 1px solid #cacad4;
    min-width: 120px;
    max-width: 250px;
    text-align: center;
}



@media(max-width:1020px){
    .order__item{
        padding: 10px;
    }

    .table__item {
        padding: 7px;
        
    }


}



@media(max-width:700px){
    .table__item{
        max-width: 300px;
    }
    .table__line{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 2px solid rgb(25, 73, 218);
        gap:0;
    }

}


@media(max-width:600px){
    .order__date, 
    .full__price-order{
        font-size: 18px;
    }

    .order__title-span{
        font-size: 19px;
    }

    .table__item{
        font-size: 13px;
        min-width: 50px;
    }
}

@media(max-width:400px){
    .order__body{
        width:95%;
    }
    .table__item{
        font-size: 11px;
        min-width: 40px;
        padding:5px 2px;
    }

    
    .delivery__name{
        font-size: 9px;
    }


    .order__date, 
    .full__price-order{
        font-size: 14px;
        text-align: center;
    }

    .order__title-span{
        font-size: 15px;
    }

}