@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

a {
    color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    line-height: inherit;
}

.block__header{
    min-height: 60px;
}