@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,600&display=swap');

img {
    pointer-events:none;
}
a {
    color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    line-height: inherit;
}

.block__header{
    min-height: 60px;
}

.block__content {
    width: 85%;
    min-height: 350px;
    margin: 0 auto;
    padding: 20px;
}

.title__content {
    text-transform: uppercase;
    font-family: 'Lora', serif;
    text-align: center;
    margin: 0 auto 60px;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight:400;
}

.label__for-buy{
    width: 100%;
    display: block;
}


@media(max-width:570px){
    .title__content{
        font-size: 28px;
    }
}

@media(max-width:500px){
    .title__content{
        font-size: 23px;
    }
}

@media(max-width:405px){
    .title__content{
        font-size: 18px;
    }
}

@media(max-width:340px){
    .title__content{
        font-size: 16px;
    }
}

.flash__msg {   
    z-index: 9000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:150px;
    width: 100%;
    min-height: 100px;
    display: flex;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(11, 60, 124, 0.5); /* Непрозрачный цвет фона (черный в данном случае) */
    backdrop-filter: blur(3px); /* Размытие фона */
}

.flash__text{  
    padding: 10px;  
    width: 50%;
    height: 100%;
    
}

.flash__close-btn{
    justify-self: end;
    align-self: flex-end;
    font-size: 12px;
    line-height: 25px;
}

.flash__close{
    opacity: 0;
}

.close__flash{

    padding: 10px;
    font-size: 25px;
    border-radius: 50%;

}