{% extends 'base.html' %}
{{super()}}
{% block styles %}
    {{super()}}
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/bag.css')}}">
{% endblock styles %}

{% block header %}
    {% block top_menu %}
        {{super()}}
    {% endblock top_menu %}
{% endblock header %}

{% block content %}
    {{super()}}

    <div class="cart__inner">
        {% if cart %}
        <table class="cart__tabale">
            <thead class="cart__items-head">
                <tr class="cart__table-line cart__table-line--head">
                    <th class="cart__items-title cart__item"></th>
                    <th class="cart__items-title cart__item">Название</th>
                    <th class="cart__items-title cart__item">Кол-во</th>
                    <th class="cart__items-title cart__item">Вес</th>
                    <th class="cart__items-title cart__item">Цена</th>
                    <th class="cart__items-title cart__item">По скидке</th>
                    <th class="cart__items-title cart__item">Сумма</th>             
                    <th class="cart__items-title cart__item">Изменить</th>             
                                
                                      
                </tr>
            </thead>
            <tbody class="cart__items">
            {% for i in cart %}
                <tr class="cart__table-line">
                    <td class="cart__product cart__item cart__ava">
                        <img  class="ava__img" src="{{url_for('static', filename='img/catalog/')}}{{i.product_ava}}" alt="">
                    </td>

                    <td class="cart__product cart__item ">
                        <div class="row__title">Товар:</div>
                        <a href="{{url_for('get_product', link=i.link)}}" class="p__name">{{i.product_name}}</a>
                    </td>
                    <td class="cart__product cart__item ">
                        <div class="row__title">Кол-во:</div>
                        <div class="row__element">{{i.coll}} шт.</div>
                    </td>
                    <td class="cart__product cart__item">
                        <div class="row__title">Вес:</div>
                        <div class="row__element">{{i.weight}} кг.</div>
                    </td>
                    <td class="cart__product cart__item">
                        <div class="row__title">Цена:</div>
                        <div class="row__element">{{i.price}} р.</div>
                    </td>
                    <td class="cart__product cart__item">
                        <div class="row__title">Cкидка:</div>
                        <div class="row__element">{{i.sale}}</div>
                        </td>
                    <td class="cart__product cart__item">
                        <div class="row__title">Сумма:</div>
                        <div class="row__element">{{i.total}} р.</div>
                        </td>
                    <td class="cart__product cart__item cart__form">
                        <div class="row__title row__title-change">Изменить количество:</div>
                        <form action="{{url_for('edit_bag')}}" method="post" class="cart__edit">
                            <label for="minus__{{i.product_id}}">
                                <div class="input__wrapper">
                                    <input id="minus__{{i.product_id}}" type="submit" name="minus" value="убрать" class="edit__input">
                                </div>
                            </label>

                            <label for="coll__{{i.product_id}}">
                                <input type="text" name="coll" id="coll__{{i.product_id}}" placeholder="кол-во" value="" class="coll__input"> 
                            </label>
                            <label for="plus__{{i.product_id}}">
                                <div class="input__wrapper">
                                    <input id="plus__{{i.product_id}}" type="submit" name="plus" value="добавить" class="edit__input">
                                </div>
                            </label>

                            <input type="hidden" name="product_id" value="{{i.product_id}}">
                            <input type="hidden" name="product_name" value="{{i.product_name}}">
                        </form>
                     </td>
                     
                </tr>
            {% endfor %}
            </tbody>
            </table>

            <div class="total__block">
                <div class="total__clear">
                    <a href="{{url_for('orders_history')}}" class="clear__cart">История заказов</a>
                    <a href="{{url_for('drop_bag')}}" class="clear__cart">Очистить корзину</a>
                </div>
                <div class="total__info">
                    <div class="total__summ">Вес: {{weight / 1000}} т.</div>
                    <div class="total__summ">Итоговая сумма: {{total}} р.</div>
                </div>
            </div>

            <div class="send__order-block">
                <a href="{{url_for('set_delivery')}}" class="send__oder">
                    Оформить заказ
                </a>
            </div>
            
            {% else %}                
                <div class="no_bag">В корзине пока нет товаров.</div>
            {% endif %}
        
    </div>
{% endblock content %}