{% extends 'base.html' %}
    {{super()}}


{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/bag.css')}}">
{% endblock styles %}

{% block header %}
    {% block top_menu %}
        {{super()}}
    {% endblock top_menu %}
{% endblock header %}



{% block content %}
    {{super()}}
    <form action="{{url_for('set_delivery')}}" method="post" class="order__form">
        <div class="dop__block">
            <div class="delivery__block">
                <label for="delivery" class="delivery__label dop__label">Выберите способ доставки:</label>
                <select class="delivery__select dop__select" id="delivery" name="delivery">
                    {% for i in delivery %}
                    <option class="delivery__value select__value" value="{{i.id}}">
                        <div class="option__name">{{i.name}}</div>
                        {% if i.price !=0 %}
                            <div class="option__desc">{{i.price}} р.</div>
                        {% endif %}
                        
                    </option>
                    {% endfor %}
                    
                    
                </select>
                
            </div>
            
            <div class="delivery__block">                
                <div class="load__select">
                    <div class="delivery__label dop__label">Выберите один из вариантов для расчета стоимости разгрузки:</div>
                    <select class="delivery__select dop__select" id="load__select" name="load_coficient">
                        {% for name, cof in load_cof.items() %}
                            {% if load_coficient == cof %}
                                <option class="delivery__value select__value" value="{{ cof }}" selected>
                                    <div class="option__name">{{ name }}</div>
                                </option>
                            {% else %}
                            
                                <option class="delivery__value select__value" value="{{ cof }}">
                                    <div class="option__name">{{ name }}</div>
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    
                </div>
            </div>
            {% if load_list %}
                {% for i in load_list %}
                    {{i.coll}} единиц весом {{i.weight}} кг. по цене {{i.price}} р. в сумме {{i.total_price}}
                {% endfor %}
            {% endif %}
            <div class="send__order-block">
                <input type="submit" value="Отправить заявку" class="send__deliver" id="send__order" name="send_order">
                <input type="submit" value="Расчитать стоимость" class="send__deliver" id="send__deliver" name="calulate_delivery">
                
            </div>
            
            
            
            

        </div>
    </form>
{% endblock content %}
