<form action="" class="order__form">
    <div class="dop__block">
        <div class="delivery__block">
            <label for="delivery" class="delivery__label dop__label">Выберите способ доставки:</label>
            <select class="delivery__select dop__select" id="delivery"></label>
                <option class="delivery__value select__value" value="Tiraspol">По тирасполю 150р. <span class="delivery__span">(до 3-х тонн за рейс)</span> </option>
                <option class="delivery__value select__value" value="option2">Без доставки(самовывоз)</option>
                <option class="delivery__value select__value" value="option3">Вариант 3</option>
                <option class="delivery__value select__value" value="option4">Вариант 4</option>
            </select>
            
        </div>
        <div class="delivery__block">
            <label for="loaders" class="loaders__label dop__label">Нужны грузчики?</label>
            
            
        </div>
    </div>
</form>
