{% extends 'base.html' %}
{{super}}

{% block styles %}
{{super()}}
    
{% endblock styles %}



{% block content %}
{{super()}}
    {% block categories %}
        {% for cat in cats %}
            <div class="category__inner">
                <a href="{{url_for('category', cat=cat.link)}}" class="category__link">
                    <div class="category__name">{{cat.name}}</div>
                    <div class="category__description">{{cat.description}}</div>
                    
                    <div class="category__cards">
                        {% for i in products %}
                            
                            {% if i.category_id==cat.id %}
                            
                                <div class="product__card">
                                    {% if not i.ava_link %}
                                        {% set ava_link = 'cement_m550.png' %}
                                    {% else %}
                                        {% set ava_link = i.ava_link %}
                                    {% endif %}
                                    <a href="{{url_for('get_product', link=i.link)}}" class="product__link">
                                        <div class="card__img"><img src="{{url_for('static', filename='img/catalog/')}}{{ava_link}}" alt=""></div>
                                        <div class="card__title">{{i.product_name}}</div>
                                        <div class="card__description">{{i.description}}</div>
                                    </a>
                                    <div class="inner__more-info"><a href="{{url_for('get_product', link=i.link)}}" class="link__more-info" target="_blank">Подробнее о товаре...</a></div>

                                    <div class="price__main">{{i.price}} р. 1 шт.</div>
                                    <div class="sales__info">
                                        {% if i.sale_for1 %}
                                            <div class="sales__info-item">
                                               *{{i.price2}} р. от {{i.sale_for1}} шт.
                                            </div>
                                        {% endif %}
                                        {% if i.sale_for2 %}
                                            <div class="sales__info-item">
                                               *{{i.price3}} р. от {{i.sale_for2}} шт.
                                            </div>
                                        {% endif %}
                                    </div>
                                    <form action="{{url_for('add_to_bag')}}" method="post" class="form__add-cart" >
                                        <label class="label__for-buy" for="input_{{i.product_id}}"> 
                                            <div class="add__to-cart">                                                    
                                                    <label for="input_{{i.product_id}}" class="add__label">Укажите количество: </label>
                                                    <input type="text" value="" placeholder="1" class="input__to-cart" name="coll" id="input_{{i.product_id}}">
                                                    <input type="hidden" name="product_id" value="{{i.product_id}}">
                                                    <input type="hidden" name="product_name" value="{{i.product_name}}">
                                                </div>
                                        </label>    
                                        <input type="submit" class="button__to-cart" name="add" value="Добавить в корзину">
                                        <input type="submit" class="button__to-cart" name="buy" value="Купить сейчас">
                                    </form>
                                </div>
                            
                            {% endif %}
                            
                        {% endfor %}
                        
                    </div>
                    <div class="more__porudcts-cat">
                        <a href="{{url_for('category', cat=cat.link)}}" class="category__link">Смотреть всю категорию...</a>
                    </div>
                </a>
                
            </div>
        {% endfor %}
    {% endblock categories %}
    
{% endblock content %}