{% extends 'base.html' %}
{{super()}}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/product.css')}}">
{% endblock styles %}

{% block header %}
    {% block top_menu %}
        {{super()}}
    {% endblock top_menu %}
{% endblock header %}

{% block content %}
    {{super()}}
    <div class="product__inner">
        {% if products %}
            <div class="img_desc-inner">
                <div class="img__inner">
                    <img class="product__img" src="{{url_for('static', filename='img/catalog/')}}{{products.ava_link}}" alt="">
                </div>
                <div class="desc__inner">
                    <p class="desc__title">Описание товара</p>
                    <div class="desc__body">{{products.description}}</div></div>
            </div>
            <div class="clear__both"></div>

            <div class="price__inner">
                <div class="price__main"><span class="span__price">{{products.price}} р.</span> за единицу</div>
                <div class="sales__info">
                    {% if products.price2 %}
                        <div class="price__sale"><span class="span__price">{{products.price2}} р.</span> за единицу, при покупке от <span class="span__price">{{products.sale_for1}}</span> шт.</div>
                    {% endif %}
                    {% if products.price3 %}
                        <div class="price__sale"><span class="span__price">{{products.price3}} р.</span> за единицу, при покупке от <span class="span__price">{{products.sale_for2}}</span> шт.</div>
                    {% endif %}
                </div>
                
            </div>

            <form action="{{url_for('add_to_bag')}}" method="post" class="form__add-cart">
                <label class="label__for-buy" for="input_{{products.product_id}}">
                <div  class="product__buy-items">
                    <label for="input_{{products.product_id}}" class="add__label product__buy-item">Укажите количество:</label>
                    <input type="text" value="" placeholder="1"  class="input__to-cart  product__buy-item" name="coll" id="input_{{products.product_id}}">
                    <input type="hidden" name="product_id" value="{{products.product_id}}">
                    <input type="hidden" name="product_name" value="{{products.product_name}}">
                </label>
                </div>

                <div class="product__buy-items">
                    <input type="submit" class="button__to-cart " name="add" value="Добавить в корзину">
                    <input type="submit" class="button__to-cart " name="buy" value="Купить сейчас">
                </div>
            </form>
        {% else %}
        <div class="error__product">Запрашиваемый вами продукт не найден, попробуйте еще раз.</div>
        {% endif %}



    </div>

{% endblock content %}