<div class="product__description">
    <b>Вес: 40 кг.</b> Универсальное решение для различных строительных работ. Цемент М 500 обладает высокой прочностью и устойчивостью, что позволяет использовать его при создании надежных и долговечных бетонных конструкций. Он хорошо справляется с воздействием агрессивной среды, такой как влага и мороз. За свою универсальность и надежность этот цемент высоко ценится профессиональными строителями.
</div>
<div class="char__prod">
    <p class="char_item">
        <b>Гарантированное качество:</b><br>
        Цемент М 500 прошел строгие испытания и соответствует высочайшим стандартам качества. Вы можете быть уверены в его надежности и долговечности.
    </p>
    <p class="char_item">
        <b>Удобство использования:</b><br>
        Благодаря своим характеристикам, наш цемент облегчает выполнение строительных работ. Вы сможете легко наносить и моделировать его, достигая идеальных результатов.
    </p>
        <p class="char_item">
        <b>Универсальность:</b><br>
        Подходит для различных видов строительных работ, включая кладку, штукатурку, бетонирование и заливку полов. Он является надежным и универсальным решением для вашего проекта.
    </p>
        <p class="char_item">
        <b>Долговечность:</b><br>
        М 500 обеспечивает прочность и стабильность вашей конструкции на протяжении многих лет. Вы можете быть уверены, что ваше строение будет стойким и надежным.
    </p>
</div>

<p class="made_in">Цемент произведен в Приднестровье г. Рыбница. Осуществляем доставку в Тирасполь, Бендеры, Парканы, Малаешты, Слободзею и другие направления. </p>
